<nav class="navbar">
  <div class="container nav-content">

    <a class="logo" href="#home">
      <span class="logo-icon">🍽</span>
    
      <span>Yalla<span>Eat</span></span>
    </a>

    <div class="nav-links">
      <a href="#home" class="active">Home</a>
      <a href="#why-us">Why Us</a>
      <a href="#about">About Us</a>
      <a href="#reviews">Reviews</a>
      <a href="#gallery">Gallery</a>
      

       
       
    </div>

    <a href="#contact" class="order-btn">
      contact us
    </a>

  </div>
</nav>